@{
    ViewBag.Title = "Home Page";
}

<br />
<hr />
<div class="row">
    @if (Request.IsAuthenticated)
    {
        <div class="col-md-4">
            <h2>Add a memory</h2>
            <p>We know you're busy. That's why we make it easy to add memories of your child's firsts.</p>
            <p>Whether it's the first time they rolled over or their first haircut, enter it here so you can look at it forever.</p>
            <p><a class="btn btn-default" href="~/Views/Memory/NewMemory.cshtml">Make a new memory</a></p>
        </div>
    }
    else
    {
        <div class="col-md-4">
            <h2>Memories at a Glance</h2>
            <p>This application will allow you to enter memories of your child's "firsts".</p>
        </div>
    }
    <div class="col-md-4">
        <h2>Lorem Ipsum</h2>
        <p>Placeholder for calendar</p>
        <p>Lorem ipsum yadda yadda yadda</p>
    </div>
    <div class="col-md-4">
        <h2>Lorem Ipsum</h2>
        <p>Placeholder for calendar</p>
        <p>Lorem ipsum yadda yadda yadda</p>
    </div>
</div>