@{
    ViewBag.Title = "Home Page";
}

<br />
<hr />

<div id="calendar"></div>

<!-- This is to display information "on-click" when a user clicks on events -->

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
            </div>
            <div class="modal-body">
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- The following few lines references the css and javascript files for Fullcalendar 
     Should edit it so that it works with the fullcalendar library downloaded in BabysFirstCalendar
     But it breaks once I reference the other stylesheets/scripts -->
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>


    <script>

        //This script pulls the memories from the JSONResult in C#
        //We use the StringDate instead of the regular Date since its format is
        //more human-friendly.

        $(document).ready(function () {
            var events = [];
            $.ajax({
                type: "GET",
                url: "/home/DisplayMemories",
                success: function (data) {
                    $.each(data, function (i, v) {
                        events.push({
                            title: v.Text,
                            description: v.Text,
                            start: v.StringDate,
                            extendedProps: {
                                hasPhoto: v.HasPhoto
                            }
                        });
                    })

                    GenerateCalendar(events);
                },
                error: function (error) {
                    alert('Failed to retrieve memories');
                }
            })


            //This actually makes the calendar and defines its parameters

            function GenerateCalendar(events) {
                $('#calendar').fullCalendar('destroy');
                $('#calendar').fullCalendar({
                    buttonText: {
                        prev: 'Previous', // <
                        next: 'Next' // >
                    },
                    contentHeight: 500,
                    defaultDate: new Date(),

                    //Don't display event time, since all memories are "all day events"
                    displayEventTime: false,

                    //For some reason, the next button has to be in the center to display on the right, and the title
                    //has to be in the right to display in the center. I don't know why but it works this way?
                    header: {
                        left: 'prev',
                        center: 'next',
                        right: 'title'
                    },
                    timeFormat: 'h(:mm)a',
                    eventLimit: true,
                    eventColor: '#378006',
                    events: events,
                    eventClick: function (calEvent, jsEvent, view) {
                        $('#myModal #eventTitle').text(calEvent.title);
                        var $description = $('<div/>');

                        
                        $description.append($('<p/>').html('<b>Date: </b>' + calEvent.start.format("MM-DD-YYYY")));
                        //if (calEvent.end != null) {
                        //    $description.append($('<p/>').html('<b>End:</b>' + calEvent.end.format("DD-MMM-YYYY")));
                        //}


                        $description.append($('<p/>').html('<b>Memory: </b>' + calEvent.description));
                        $('#myModal #pDetails').empty().html($description);

                        $('#myModal').modal();
                    }
                })
            }
        })
    </script>
}

@*<div class="row">
       @if (Request.IsAuthenticated)
       {
           <div class="col-md-4">
               <h2>Add a memory</h2>
               <p>We know you're busy. That's why we make it easy to add memories of your child's firsts.</p>
               <p>Whether it's the first time they rolled over or their first haircut, enter it here so you can look at it forever.</p>
               @Html.ActionLink("Make a new memory", "NewMemory", "Memory", null, new { @class = "nav-links" })
           </div>
       }
       else
       {
           <div class="col-md-4">
               <h2>Memories at a Glance</h2>
               <p>This application will allow you to enter memories of your child's "firsts".</p>
           </div>
       }
    </div>*@
